{% extends 'layout.twig' %}


    {% block body %}
        <h1>Kittens score</h1>
        <ul>
            {% for cat in cats %}
                <li><img src="{{ cat.url }}" alt=""> score: {{ cat.score }}</li>
            {% endfor %}
        </ul>

    {% endblock %}

