{% extends 'layout.twig' %}
    {% block body %}
        {%  block title %}{{ parent() }}{% endblock %}
        <h2 class="h2 text-center">Kittens score</h2>
        <div class="container">
            <ol class="list-group list-group-flush">
                {% for cat in cats %}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-1">
                                <span class="align-middle index">{{ loop.index }}</span>
                            </div>
                            <div class="col">
                            <img class="col img-fluid rounded mx-auto d-block" src="{{ cat.url }}" alt="">
                            </div>
                            <div class="col">
                                <span class="align-middle score">Score : {{ cat.score }}</span>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ol>
        </div>

    {% endblock %}

