{% extends 'layout.twig' %}
    {% block body %}
        {%  block title %}{{ parent() }}{% endblock %}
        <h2 class="h2 text-center">Kittens score</h2>
        <div class="container">
            <ul style="list-style-type: none">
                {% for cat in cats %}
                    <li>
                        <div class="row row-image-score">
                            <div class="col-xs-1">
                                <span class="align-middle index">{{ loop.index }}</span>
                            </div>
                            <div class="col">
                            <img class="col img-fluid rounded mx-auto d-block" src="{{ cat.url }}" alt="">
                            </div>
                            <div class="col">
                                <span class="align-middle score">Score : {{ cat.score }}</span>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>

    {% endblock %}

